*::placeholder {
  color: #003696;
  opacity: 0.5;
  font-size: 0.7rem;
  padding-left: 0.5rem;
  padding-top: 1rem;
}
.comments_container {
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  max-width: 75%;
}
.title {
  font-weight: 700;
  color: #003696;
  font-size: 1.625rem;
  margin: 10.63px 0 15.78px 0;
}

.comment__section {
  display: flex;
  flex-direction: column;
}

.comment__section .comment--title,
.comment__section .comment--body {
  border-radius: 5px;
  background-color: #f2f2f2;
  border-color: transparent;
  margin-bottom: 1rem;
  max-width: 100%;
}

.comment__section .comment--title {
  height: 50px;
}
.comment__section .comment--body {
  min-height: 143px;
}
.comment__section .disclaimer {
  margin-bottom: 1rem;
  font-size: 0.7rem;
  color: #707070;
}
.comment__section button.addComment {
  border-radius: 5px;
  border-color: transparent;
  max-width: 100%;
  height: 50px;
  color: #fff;
  background-color: #003696;
}

.addCommentBlock {
  cursor: wait;
  opacity: 0.5;
}
.allComments {
  margin-top: 1.5rem;
  padding-bottom: 2rem;
}
.allComments .post__container {
  box-shadow: 0 0.2px 0 0 #707070;
  padding: 1rem 0 1.5rem 0;
  margin-bottom: 1rem;
}
.allComments .post--creator {
  color: #231f20;
}

.allComments .post--title {
  color: #003696;
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.allComments .post--creator {
  margin-bottom: 1rem;
  color: #231f20;
}
.allComments .post--body {
  margin-bottom: 1rem;
  color: #464646;
}

.allComments .post--link {
  text-decoration: underline !important;
  color: #464646;
  opacity: 0.5;
}

@media (min-width: 1024px) {
  .comments_container {
    width: 62%;
  }
  .comment__section .comment--title,
  .comment__section .comment--body {
    max-width: 60%;
  }
  .comment__section button.addComment {
    max-width: 198px;
  }
}
