@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;500;600;700&family=Open+Sans:ital,wght@0,500;1,300&display=swap');

*{
   font-family: 'Asap', sans-serif; 
}

h1,h2,h3,h4,h5{
    color:rgb(0, 50, 120);
}
:root { --dxp-c-section-columns-max-width: 1280px; }