@import 'c/cssLibrary';

.gp-conexion-global-container {
    margin: 0;
    padding: 0;
}

.gp-inicio-conexion-global {
    max-width: 100%;
    min-width: 21.875rem;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    overflow: hidden;
    margin-bottom: 1rem;
}

.titulo-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1.6rem;
}

.top-navigator {
    display: none;
}

.titulo {
    font-family: var(--global-portal-font-family-asap);
    font-style: var(--global-portal-font-style-normal);
    font-weight: var(--global-portal-font-weight-bold);
    font-size: var(--global-portal-font-size-20);
    line-height: var(--global-portal-line-spacing-23);
    letter-spacing: var(--global-portal-character-spacing-0);
    color: var(--global-portal-color-003696);
    padding-bottom: 0rem;
    padding-left: 0.6rem;
    margin: 0;
}