.detailCard {
  background-color: #fff;
  border-radius: 0.3rem;
  max-width: 600px;
  display: grid;
  border: 1px solid #707070;
}

.detailCard_head {
  background-color: #003696;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.5);
  height: 30px;
  display: flex;
  place-items: center;
  place-content: center;
}

.detailCard_head h3 {
  text-align: center;
  color: #fff;
  font-weight: 700;
  font-size: 0.7rem;
}

.detailCard_main {
  display: grid;
  gap: 1rem;
  padding: 1rem;
}

.detailCard_vigencia {
  display: flex;
  place-items: center;
  gap: 1rem;
  width: 100%;
  justify-content: space-between;
}

.detailCard_date {
  display: grid;
  gap: 0.5rem;
  width: 200px;
}

.detailCard_date h3 {
  font-size: 0.8rem;
  color: #707070;
}

.detailCard_date span {
  border: 1px solid #bdbdbd;
  padding: 0.3rem;
  text-align: center;
  border-radius: 0.3rem;
}
