@import 'c/cssLibrary';

.resp-container, .pqrfs-container {
    padding: 0 1rem 0 1rem;
    background-color: var(--global-portal-color-ffffff);
    border-radius: 5px;
}

.img-respuesta {
    width: 100%;
}

.pregunta {
    font-family: var(--global-portal-font-family-asap);
    font-style: var(--global-portal-font-style-normal);
    font-weight: var(--global-portal-font-weight-bold);
    font-size: var(--global-portal-font-size-15);
    line-height: var(--global-portal-line-spacing-17);
    letter-spacing: var(--global-portal-character-spacing-0);
    color: var(--global-portal-color-464646);
    margin-bottom: 0.5rem;
    padding-top: 1rem;
}

.esperamos {
    font-family: var(--global-portal-font-family-asap);
    font-style: var(--global-portal-font-style-normal);
    font-weight: var(--global-portal-font-weight-bold);
    font-size: var(--global-portal-font-size-15);
    line-height: var(--global-portal-line-spacing-17);
    letter-spacing: var(--global-portal-character-spacing-0);
    color: var(--global-portal-color-464646);
    margin-bottom: 0.5rem;
    padding-top: 1rem;
}

.resp-body {
    font-family: var(--global-portal-font-family-asap);
    font-style: var(--global-portal-font-style-normal);
    font-weight: var(--global-portal-font-weight-normal);
    font-size: var(--global-portal-font-size-12);
    line-height: var(--global-portal-line-spacing-12);
    letter-spacing: var(--global-portal-character-spacing-0);
    color: var(--global-portal-color-707070);
    margin-bottom: 0;
}

.respuesta-container {
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 5px;
    background-color: var(--global-portal-color-ffffff);;
}

.resp-body {
    margin: 0;
    padding: 1rem 0 0 0;;
}

.boton-pqrfs {
    width: 9.125rem;
    height: 2.375rem;
    margin: 1rem 0 1.5rem 0;
}

.link-pqrsf {
    text-decoration: underline !important;
    color: var(--global-portal-color-003696);
}

/* TABLET */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .pregunta {
        font-size: var(--global-portal-font-size-25);
        line-height: var(--global-portal-line-spacing-25);
    }
    
    .resp-container, .pqrfs-container {
        max-width: 65%;
        padding: 0 1rem 0 2.1rem;
    }
}

/* DESKTOP */
@media screen and (min-width: 1024px) {
    .resp-container, .pqrfs-container {
        padding: 0 1rem 0 2.1rem;
    }
    
    .pregunta {
        font-size: var(--global-portal-font-size-25);
        line-height: var(--global-portal-line-spacing-25);
    }
}