.container {
  margin: 0 0.7rem;
  padding: 0;
  background-color: #fff;
}

.blog_container {
  margin-bottom: 2rem;
}

.header_button {
  display: flex;
  flex-direction: row;
  width: 10.0625rem;
  height: 3.644rem;
  background-color: #ffd300;
  border-radius: 5px;
  color: #003696;
  padding: 0.9rem;
  font-size: 0.65rem;
  align-items: center;
  line-height: 0.85rem;
  gap: 0.8rem;
  position: absolute;
  right: 5%;
  top: 0.727rem;
}

.header_button .header_button-icon {
  width: 3.125rem;
}

.header_button .header_button-link a {
  color: #003696;
  font-weight: 600;
  text-decoration: underline;
}

main {
  width: 90%;
  position: relative;
  margin: auto;
}

main .main_container {
  height: auto;
  position: relative;
  top: -4rem;
  background: #fff;
  border-radius: 5px;
  padding: 2rem;
}

.blog_header {
  width: 90%;
  margin: 0 auto 2rem;
}

.blog_header .date {
  font-size: 1rem;
  color: #003696;
  font-weight: 400;
}

.blog_header .title {
  font-weight: 700;
  color: #003696;
  font-size: 1.625rem;
  margin: 10.63px 0 15.78px 0;
}

.blog_header-featured-text {
  display: flex;
  gap: 1rem;
  height: auto;
  color: #464646;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.125rem;
}

.blog_header-featured-text .line {
  background-color: #003696;
  min-width: 16px;
}

.blog_img {
  margin: 1.5rem 0;
}

.blog_content {
  margin-bottom: 1.125rem;
}
.blog_content p {
  color: #464646;
  font-weight: 400;
  font-size: 0.938rem;
  margin: 0 auto 1rem auto;
  width: 95%;
}

.blog_content .bold-text {
  font-weight: 700;
  font-size: 1.25rem;
  font-style: italic;
  line-height: 1.563rem;
  margin: 17px auto 0;
  color: #464646;
}

.blog_content .video {
  margin: 1.5rem 0;
}

.blog_content .images {
  display: flex;
  flex-direction: column;
  width: 95%;
  gap: 1rem;
  margin: 16px auto;
}

.content_creator {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 95%;
  margin: 2rem auto;
  line-height: 1.2rem;
  color: #2d4a84;
}

.content_creator .content_creator-img {
  width: 2.75rem;
  height: 2.75rem;
  border-radius: 50%;
  background: gray;
}

.content_creator .content_creator-info .name {
  font-size: 0.938rem;
  font-weight: 700;
}
.content_creator .content_creator-info .position {
  font-size: 0.75rem;
}

@media (min-width: 768px) {
  header {
    min-height: 21.544rem;
  }
  .blog_header-featured-text {
    width: 85%;
  }
  .blog_content .bold-text {
    font-size: 1.563rem;
    width: 80%;
  }
  .blog_content .images {
    flex-direction: row;
  }
  .blog_content .images img {
    width: 50%;
  }
}

@media screen and (min-width: 1024px) {
  main {
    width: 75%;
  }
  .header_button {
    right: 12%;
  }
  .blog_header {
    width: 90%;
  }
  .blog_img {
    margin: 3rem 0;
  }
  .blog_header-featured-text {
    width: 70%;
  }
  .blog_content p {
    width: 90%;
  }
  .blog_content .bold-text {
    font-size: 1.563rem;
    width: 70%;
  }
  .blog_content .video {
    margin: 3rem 0;
  }
  .blog_content .images {
    width: 100%;
    gap: 1rem;
    margin: 3rem auto;
  }
  .content_creator {
    width: 90%;
  }
}