@import 'c/cssLibrary';

.imagen {
    height: 13.375rem;
    border-radius: 5px;
}

.logo-prensa {
    height: 1.7rem;
    margin: 0.6rem;
}

.editor {
    font-family: var(--global-portal-font-family-asap);
    font-style: var(--global-portal-font-style-normal);
    font-weight: var(--global-portal-font-weight-bold);
    font-size: var(--global-portal-font-size-20);
    line-height: var(--global-portal-line-spacing-23);
    letter-spacing: var(--global-portal-character-spacing-0);
    color: var(--global-portal-color-000000);
    padding: 1rem 0 1rem 1rem;
}

.contenido {
    font-family: var(--global-portal-font-family-asap);
    font-style: var(--global-portal-font-style-normal);
    font-weight: var(--global-portal-font-weight-normal);
    font-size: var(--global-portal-font-size-12);
    line-height: var(--global-portal-line-spacing-12);
    letter-spacing: var(--global-portal-character-spacing-0);
    color: var(--global-portal-color-707070);
    padding: 0.6rem 1rem 0.6rem 1rem;
}

.link {
    font-family: var(--global-portal-font-family-asap);
    font-style: var(--global-portal-font-style-normal);
    font-weight: var(--global-portal-font-weight-normal);
    font-size: var(--global-portal-font-size-12);
    line-height: var(--global-portal-line-spacing-12);
    letter-spacing: var(--global-portal-character-spacing-0);
    color: var(--global-portal-color-0070ba);
    padding-bottom: 1.0rem;
    padding-left: 0.6rem;
    text-decoration: underline; 
    margin-top: auto;
}

.prensa-card {
    background-color: var(--global-portal-color-ffffff);
    border-radius: 5px;
    min-width: 16.25rem;
    display: flex;
    flex-direction: column;
    align-self: normal;
}

.titulo {
    font-family: var(--global-portal-font-family-asap);
    font-style: var(--global-portal-font-style-normal);
    font-weight: var(--global-portal-font-weight-bold);
    font-size: var(--global-portal-font-size-20);
    line-height: var(--global-portal-line-spacing-23);
    letter-spacing: var(--global-portal-character-spacing-0);
    color: var(--global-portal-color-003696);
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0;
}

/* TABLET */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .prensa-card {
        display: flex;
        align-self: normal;
    }

}

/* DESKTOP */
@media screen and (min-width: 1024px) {
    .prensa-card {
        display: flex;
        flex-direction: row;
    }

    .nota-prensa {
        min-width: 22rem;
    }

    .imagen {
        max-width: fit-content;
    }
}