@import 'c/cssLibrary';

.gp-soluciones-container {
    margin: 0;
    padding: 0;
}

.soluciones-recomendadas-card {
    width: 100%;
}

.titulo {
    font-family: var(--global-portal-font-family-asap);
    font-style: var(--global-portal-font-style-normal);
    font-weight: var(--global-portal-font-weight-bold);
    font-size: var(--global-portal-font-size-20);
    line-height: var(--global-portal-line-spacing-23);
    letter-spacing: var(--global-portal-character-spacing-0);
    color: var(--global-portal-color-003696);
    padding: 0.6rem;
    margin: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 0.6rem;
}

/* TABLET */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .soluciones-recomendadas-card {
        width: 20.25rem;
    }

    .container {
        justify-content: center;
    }
}

/* DESKTOP */
@media screen and (min-width: 1024px) {
    .soluciones-recomendadas-card {
        width: 15.25rem;
    }
}