@import 'c/cssLibrary';

.container {
    background-color: var(--global-portal-color-003696);
    box-shadow: 0px 3px 6px #00000029;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

.faq-carrousel {
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 0 0.6rem 0.6rem 0;
}

.faq-navigator {
    padding-left: 1rem;
}

.gp-faq-pregunta {
    font-family: var(--global-portal-font-family-asap);
    font-style: var(--global-portal-font-style-normal);
    font-weight: var(--global-portal-font-weight-normal);
    font-size: var(--global-portal-font-size-15);
    line-height: var(--global-portal-line-spacing-17);
    letter-spacing: var(--global-portal-character-spacing-0);
    color: var(--global-portal-color-fbfcff);
    min-width: 13.5rem;
    padding: 0 13px 0 13px;
    margin: 0;
}

.active-pregunta {
    color: #ffd300;
}

.boton-mas {
    width: 14px;
    height: 14px;
    min-width: 14px;
    margin-right: 0.6rem;
}

.boton-todas, .boton-ver_todas {
    width: 201px;
    height: 38px;
    margin-bottom: 1rem;
}

.boton-ver_todas {
    margin-top: 1.445rem;
}

.pregunta-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-right: 1px solid var(--global-portal-color-fbfcff);
    justify-content: space-between;
}

/* TABLET */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .bottom-navigator {
        display: none;
    }
}

/* DESKTOP */
@media screen and (min-width: 1024px) {
    .bottom-navigator {
        display: none;
    }

    .faq-carrousel {
        flex-direction: column;
        gap: 0.6rem;
        border-left: 0;
    }

    .pregunta-container {
        border-right: 0px solid var(--global-portal-color-fbfcff);
        border-bottom: 1px solid var(--global-portal-color-fbfcff);
        padding: 0 0 1rem 1.4rem;
    }
}