@import 'c/cssLibrary';

.caso-exito-card {
    background-color: var(--global-portal-color-ffffff);
    border-radius: 5px;
    min-width: 16.25rem;
    box-shadow: 0px 3px 6px #FBFCFF33;
}

.tipo-seguro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 0.6rem 0 0.6rem;
}

.category-title {
    font-family: var(--global-portal-font-family-asap);
    font-style: var(--global-portal-font-style-normal);
    font-weight: var(--global-portal-font-weight-medium);
    font-size: var(--global-portal-font-size-13);
    line-height: var(--global-portal-line-spacing-12);
    letter-spacing: var(--global-portal-character-spacing-0);
    color: var(--global-portal-color-0087dc);
    margin: 0;
}

.category-dot {
    height: 12px;
    width: 12px;
    border: 1px solid;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    background-color: inherit;
}

.category-description {
    font-family: var(--global-portal-font-family-asap);
    font-style: var(--global-portal-font-style-normal);
    font-weight: var(--global-portal-font-weight-bold);
    font-size: var(--global-portal-font-size-12);
    line-height: var(--global-portal-line-spacing-12);
    letter-spacing: var(--global-portal-character-spacing-0);
    color: var(--global-portal-color-464646);
    padding: 0 1rem 0.6rem 0.6rem;
}

.testimonio {
    font-family: var(--global-portal-font-family-asap);
    font-style: var(--global-portal-font-style-normal);
    font-weight: var(--global-portal-font-weight-normal);
    font-size: var(--global-portal-font-size-12);
    line-height: var(--global-portal-line-spacing-12);
    letter-spacing: var(--global-portal-character-spacing-0);
    color: var(--global-portal-color-464646);
    padding-left: 0.6rem;
    padding-right: 1rem;
}

.boton-agenda-cita {
    width: 135px;
    height: 46px;
    margin: 0.8rem 0 0 0.6rem;

}


.titulo {
    font-family: var(--global-portal-font-family-asap);
    font-style: var(--global-portal-font-style-normal);
    font-weight: var(--global-portal-font-weight-bold);
    font-size: var(--global-portal-font-size-20);
    line-height: var(--global-portal-line-spacing-23);
    letter-spacing: var(--global-portal-character-spacing-0);
    color: var(--global-portal-color-003696);
    padding: 0.6rem;
}

/* TABLET */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .caso-exito-card {
        position: absolute;
        width: 24.812rem;
        height: 19.75rem;
        top: 10.847rem;
        right: 5.5rem;
    }

    .category-description {
        max-width: 19.82rem;
    }

    .testimonio { 
        max-width: 20.8rem;
    }
}

/* DESKTOP */
@media screen and (min-width: 1024px) {
    .caso-exito-card {
        position: absolute;
        width: 24.812rem;
        height: 19.75rem;
        top: 9.847rem;
        right: 5.5rem;
    }

    .category-description {
        max-width: 19.82rem;
    }

    .testimonio { 
        max-width: 20.8rem;
    }
}