@import 'c/cssLibrary';

.gp-faq-container {
    padding-top: 1.5rem;
    margin-left: 0.7rem;
    margin-right: 0.7rem;
    min-width: 21.875rem;
    display: flex;
    flex-direction: column;
}

.faq-titulo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--global-portal-color-003696);
    border-radius: 5px 5px 0 0;
    padding-top: 0.7rem;
    padding-bottom: 1rem;
    justify-content: space-between;
}

.faq-titulo {
    font-family: var(--global-portal-font-family-asap);
    font-style: var(--global-portal-font-style-normal);
    font-weight: var(--global-portal-font-weight-bold);
    font-size: var(--global-portal-font-size-20);
    line-height: var(--global-portal-line-spacing-23);
    letter-spacing: var(--global-portal-character-spacing-0);
    color: var(--global-portal-color-fbfcff);
}

.faq-title {
    display: flex;
    align-items: center;
}

.faq-icono {
    width: 35px;
    height: 35px;
    opacity: 1;
    padding-left: 0.8rem;
    margin-right: 6px;
}

.top-navigator {
    display: none;
}

/* TABLET */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .faq-icono {
        width: 43px;
        height: 43px;
        margin-right: 20px;
    }

    .top-navigator {
        display: inline;
    }

    .faq-titulo-container {
        padding: 2rem 0.6rem 2rem 1.4rem;
    }
}

/* DESKTOP */
@media screen and (min-width: 1024px) {
    .gp-faq-container {
        max-width: var(--global-portal-max-width-content);
        flex-direction: row;
    }

    .faq-icono {
        width: 43px;
        height: 43px;
        margin-right: 20px;
    }

    .top-navigator {
        display: none;
    }

    .cabecera-container {
        min-width: 422px
    }

    .faq-titulo-container {
        padding: 2rem 0.6rem 4rem 1.4rem;
    }
}