.postContainer {
  background-color: #fff;
  height: 380px;
  font-weight: 400;
  border-radius: 5px;
}

.postWrapper {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 2fr auto;
  color: #464646;
  text-decoration: none;
}

.postWrapper figure {
  height: 180px;
}

.postWrapper figure img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.postWrapper span {
  text-decoration: underline;
  color: #003696;
  padding-left: 1rem;
  cursor: pointer;
  padding-bottom: 0.5rem;
}

.postContent {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
}

.postContent time {
  font-size: 0.7rem;
}

.postContent h3 {
  font-size: 1rem;
  font-weight: 700;
}