@import 'c/cssLibrary';

.titulo {
    font-family: var(--global-portal-font-family-asap);
    font-style: var(--global-portal-font-style-normal);
    font-weight: var(--global-portal-font-weight-bold);
    font-size: var(--global-portal-font-size-20);
    line-height: var(--global-portal-line-spacing-23);
    letter-spacing: var(--global-portal-character-spacing-0);
    color: var(--global-portal-color-003696);
    margin-top: 1rem;
    padding: 0.6rem;
}

.caso-exito-container {
    margin: 0;
    padding: 0.6rem;
    position: relative;
}

.img-caso-exito {
    min-height: 13.375rem;
    max-height: 34rem;
    border-radius: 5px;
    width: 100%;
    box-shadow: 0px 3px 6px #00000029;
}

.slogan {
    position: absolute;
    width: 8.880rem;
    height: 4.414rem;
    top: 2.601rem;
    right: 3.3rem;
}

.link-navegacion-left {
    position: absolute;
    top: 28%;
    left: 20px;
    background-color: #003278a8;
    opacity: 0.4;
}

.link-navegacion-right {
    position: absolute;
    top: 28%;
    right: 25px;
    background-color: #003278a8;
    opacity: 0.4;
}

.card-container {
    max-width: 100%;
    min-width: 21.875rem;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    overflow: auto;
}

.navigator-container {
    background-color: var(--global-portal-color-ffffff);
    border-radius: 5px;
    padding: 0.6rem 0 0.6rem 0.6rem;
    margin-top: -5px;
    box-shadow: 0px 3px 6px #00000029;
}

.white-navigator {
    display: none;
}

.blue-navigator {
    padding: 0.3rem 0 1.3rem 0;
}

.cabecera {
    max-width: 100%;
}


/* TABLET */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    /* .caso-exito-container {
        max-width: 58.012rem;
    } */

    .img-caso-exito {
        min-height: 26.625rem;
        min-width: 45.5rem;
    }

    .slogan {
        top: 2.601rem;
        right: 3.3rem;
    }

    .white-navigator {
        display: block;
        position: absolute;
        top: 31.1rem;
        right: 5.325rem;
        width: 24.8rem;
    }
    
    .blue-navigator {
        display: none;
    }

    .link-navegacion-left {
        position: absolute;
        top: 45%;
    }
    
    .link-navegacion-right {
        position: absolute;
        top: 45%;
    }

    .navigator-container {
        display: none;
    }

    .cabecera::after {
        background-image: linear-gradient(to bottom, rgba(255,255,255, 0), rgba(0,54,150, .9) );
        content: '';
        display: block;
        position: absolute;
        height: 42%;
        border-radius: 5px;
        width: 98%;
        top: 56.3%
    }
}

/* DESKTOP */
@media screen and (min-width: 1024px) {
    .caso-exito-container {
        max-width: 58.25rem;
    }

    .img-caso-exito {
        min-height: 26.625rem;
        min-width: 45.5rem;
    }

    .slogan {
        top: 2.541rem;
        right: 2.92rem;
    }

    .link-navegacion-left {
        top: 40%;
    }
    
    .link-navegacion-right {
        top: 40%;
    }

    .white-navigator {
        display: block;
        position: absolute;
        top: 30.1rem;
        right: 5.3rem;
        width: 24.8rem;
    }
    
    .blue-navigator {
        display: none;
    }

    .navigator-container {
        display: none;
    }

    .cabecera::after {
        background-image: linear-gradient(to bottom, rgba(255,255,255, 0), rgba(0,54,150, .9) );
        content: '';
        display: block;
        position: absolute;
        height: 42%;
        border-radius: 5px;
        width: 98%;
        top: 56.3%
    }
}