.insuranceDetaiContent {
  margin: 1rem 0;
  display: grid;
  gap: 1rem;
}

.insuranceDetaiContent_left {
  display: grid;
  gap: 0.5rem;
  line-height: 1.5;
}

.insuranceDetaiContent_left--box {
  display: grid;
  gap: 0.5rem;
}

.insuranceDetaiContent_left--title,
.insuranceDetaiContent_text h3 {
  color: #003696;
}

.insuranceDetaiContent_left--title {
  font-weight: 700;
  font-size: 1.6rem;
  margin-top: 2rem;
}

.insuranceDetaiContent_text p {
  max-width: 300px;
}

@media only screen and (min-width: 600px) {
  .insuranceDetaiContent_left {
    grid-template-columns: repeat(2, 1fr);
  }
}
