.insuranceDetaiContent {
  margin: 2rem 0;
  display: grid;
  gap: 3rem;
}

.insuranceDetaiContent_left {
  display: grid;
  gap: 0.5rem;
  line-height: 1.5;
}

.insuranceDetaiContent_left--box {
  display: grid;
  gap: 0.5rem;
}

.insuranceDetaiContent_left--title,
.insuranceDetaiContent_text h3,
.insuranceDetaiContent_text a {
  color: #003696;
  font-size: 1rem;
}

.insuranceDetaiContent_text a {
  text-transform: capitalize;
  font-size: 0.8rem;
  font-weight: 700;
}

.insuranceDetaiContentHead {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.insuranceDetaiContentState {
  align-items: center;
  display: flex;
  gap: 1rem;
}

.insuranceDetaiContent_left--title {
  font-weight: 700;
  font-size: 1.6rem;
}

.insuranceDetaiContentState span,
.insuranceDetaiContentState p {
  font-weight: 500;
}

.insuranceDetaiContentState p {
  padding: 0.5rem;
  border-radius: 0.3rem;
  color: #fff;
}

.insuranceDetaiContent_text p {
  max-width: 300px;
  font-size: 0.8rem;
}

@media only screen and (min-width: 600px) {
  .insuranceDetaiContent_left {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 600px) {
  .insuranceDetaiContentHead {
    flex-direction: row;
  }
}
